button {
  width: 15%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-right: 10px;
  align-self: center;
}

button:hover {
  background-color: #45a049;
}

div.error {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #edd4d4;
  color: #571515;
  border: 1px solid #e6c3c3;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}
