<div>
  <h2>Tweets</h2>
  @for(tweet of tweets; track $index;) {
    <div>
      <span class="poster">Posted by: {{ getUserPseudo(tweet.userId) }}</span>
      <br>
      <a>
        {{tweet.content}}
      </a>
      <br>
      <a>{{likeCounts.get(tweet.id!) || 0}} likes</a>
      <br>
      <a>
        <app-like-tweet [tweet]="tweet" (likedTweet)="onTweetLiked($event)"></app-like-tweet>
      </a>
      <a>
        <app-delete-tweet [tweet]="tweet" (deletedTweet)="onTweetDeleted($event)"></app-delete-tweet>
      </a>
    </div>
  }
<!--  <ul>
    @for(tweet of tweets; track $index;) {
      <li>
        <span class="poster">Posted by: {{ getUserPseudo(tweet.userId) }}</span>
        <br>
        <a>
          {{tweet.content}}
        </a>
        <br>
        <a>{{likeCounts.get(tweet.id!) || 0}} likes</a>
        <br>
        <a>
          <app-like-tweet [tweet]="tweet" (likedTweet)="onTweetLiked($event)"></app-like-tweet>
        </a>
        <a>
          <app-delete-tweet [tweet]="tweet" (deletedTweet)="onTweetDeleted($event)"></app-delete-tweet>
        </a>
      </li>
    }
  </ul>-->
</div>
